$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #8A8A8A;
$blue: #282b57;
$red: #d73b3b;
$white: #FFFFFF;
$bluesearch: #454558;
$bluemarinho: #1D1C3B;
