@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500;600&display=swap');

body{
  background: #17162E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*{
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}